.App {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(122.76deg, #ffa2a2 4.09%, #ff7b7b 91.04%), #FFFFFF;

  font-family: Geometria, 'sans-serif';
  font-weight: 500;
}



